{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div id="profile" style="background-color: #f1f1f2;">
        <div class="page row">
            <div class="profile col">
                <div class="insideprofile">
                    {% if data.photo %}
                    <img src={{data.photo.url}} alt="fotospeaker" class="photo">
                    {% endif %}
                    <h3 class="name"> {{data.first_name}} {{data.last_name}} </h3>
                    <p class="title">{{data.position}}</p>
                    <p class="category">{{data.category}}</p>
                    <p class="desc">{{data.desc}}</p>
                    <p class="left"> <span><img src="{% static 'images/location.png' %}" alt=""></span>          {{data.city}}</p>
                    <p class="left"> <span><img src="{% static 'images/badge.png' %}" alt=""></span>          Rp {{data.fee}}</p>
                    <button class="contactbutton" onclick="window.location.href='mailto:{{data.email}}'">Contact Bill</button>
                </div>
            </div>
            <form method="POST" class="bookingform col" style="margin-left: 0%;">
                {% csrf_token %}
                {{form}}
                <span id='status' style="font-weight: 300; margin: 1.5%"></span><br>
                <button class="formbutton" type="submit">Book</button>
            </form>
        </div>
        <script type='text/javascript' src="{%  static 'js/jquery.js' %}"></script>
        <script type='text/javascript'>
            var previous_topic = '';
            function checkTopic() {
                changed = $("#id_event_date").val();
                if ((previous_topic != changed) && (changed != '')){
                    $("#status").html("<img src='{% static 'images/ajax-loader.gif' %}' />");
                    $.get("{% url 'speaker_profile:check_availability' id=data.id %}", {event_date: $("#id_event_date").val()},
                        function(response){
                            if(response.available == "ok"){
                                $("#status").html("Yay, this speaker is available!");
                                $("#status").css('color', '#619658')
                            } else {
                                $("#status").html("Sorry, this speaker is not available on the chosen date:( Please choose another date or try other speakers.");
                                $("#status").css('color', '#B53E3E')
                            }
                        });
                }
                previous_topic = changed;
            }
            $(function() {
                setInterval("checkTopic()", 1000);
            });
        </script>
    </div>
{% endblock %}