{% extends 'base.html' %}

    {% block content %}
        <a href="#home" target="_self">
            <div class="button_up position-fixed">
                <i class="fas fa-angle-double-up"></i>
            </div>
        </a>
        <div id= "home" class="texthome container-fluid">
          <div class="txtcol col container">
            <div class="texthome2 row">
              BookaSpeaker
            </div>
            <div class="texthome3 row">
                is a platform to connect speakers and clients around Indonesia.
            </div>
            <div class="texthome3 row" style="padding-top: 9%;">
                Lets us know you’re a good speaker
            </div>
            <a class="btnhome btn btn-primary" href="{% url 'register:form' %}" role="button">Join as Speaker</a>

          </div>
        </div>
        <div class="text2 container-fluid">
          <div class="topspeak container-fluid">
            Top Speakers of The Week
          </div>
          <div class="row" style="padding: 5%; margin-right: 0;">
                {% csrf_token %}
                {% for pembicara in pembicara_data %}
            <div class="col ">
                <div class="topspeak2 container">
                        {% if pembicara.photo %}
                        <img src={{pembicara.photo.url}} class="img-fluid imgtop" alt="Responsive image">
                        {% endif %}
                    <div class="container-fluid speaknama">
                        {{ pembicara.first_name }} </br> {{ pembicara.last_name }} 
                    </div>
                    <div class="container-fluid speaknama speakjabatan">
                            {{ pembicara.position }}
                    </div>
          
                    <div class="container-fluid " style="width: 100%;">
                        <div class="container speaknama speakkategori">
                                {{ pembicara.category }}
                        </div>
                    </div>
                    <div class="container-fluid speaknama speakket">
                        <i class="fas fa-map-marker-alt"></i>  {{ pembicara.city }} </br>
                        <i class="fas fa-tags"></i> Rp {{ pembicara.fee }}
                    </div>
                    <div class="container-fluid speaknama">
                        <a href="{% url 'speaker_profile:profile' id=pembicara.id %}">See More</a>
                    </div>
                </div>
            </div>
            {% endfor %}
          </div>
          <div class="row" style="margin-right: 0;">
              <a class="btnspeak btn btn-primary" href="{% url 'search:searchAll' %}" role="button">More Speakers</a>
          </div>
        </div>
        <div class="txtcopy container-fluid">
            Copyright © 2019 BookaSpeaker
        </div>
    {% endblock %}