{% extends 'base.html' %}
    {% block content %}
    <div class='back'>
        <div class="head_register">
            <h1><b>Register as Speaker</b></h1>
        </div>
        <div class='container_form container-fluid d-flex'>
            <div class="form_box">
                <div class='success_msg'>
                    <h1>{{ msg }}</h1>
                </div>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form_container">
                        <label>First Name</label>
                        <br>
                        {{form.first_name}}
                    </div>
                    <div class="form_container">
                        <label>Last Name</label>
                        <br>
                        {{form.last_name}}
                    </div>
                    <div class="form_container">
                        <label>Current Position</label>
                        <br>
                        {{form.position}}
                    </div>
                    <div class="form_container">
                        <label>Email</label>
                        <br>
                        {{form.email}}
                    </div>
                    <div class="form_column d-flex">
                        <div class="form_container">
                            <label>Gender</label>
                            <br>
                            {{form.gender}}
                        </div>
                        <div class="form_container">
                            <label>Category</label>
                            <br>
                            {{form.category}}
                        </div>
                    </div>
                    <div class="form_column d-flex">
                        <div class="form_container">
                            <label>City</label>
                            <br>
                            {{form.city}}
                        </div>
                        <div class="form_container">
                            <label>Fee (In Rupiah)</label>
                            <br>
                            {{form.fee}}
                        </div>
                    </div>
                    <div class="form_column d-flex">
                        <div class="form_container">
                            <label>Birth Date</label>
                            <br>
                            {{form.birth_date}}
                        </div>
                        <div class="form_container">
                            <label>Phone Number</label>
                            <br>
                            {{form.phone}}
                        </div>
                    </div>
                    <div class="form_container">
                        <label>Description</label>
                        <br>
                        {{form.desc}}
                    </div>
                    <div class="form_container">
                        <label>Photo</label>
                        <br>
                        {{form.photo}}
                    </div>
                    <div class="create_button d-flex">
                        <input type="submit" value="Register">
                    </div>
                </form> 
            </div>       
        </div>
    </div>
    <div class="txtcopy container-fluid">
            Copyright © 2019 BookaSpeaker
        </div>
{% endblock %}