body{
    background-color: #F1F1F2!important;
    padding: 0;
}
#speakbar{
    background: #2C8C9C;
}
.txtbar{
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}
.imghome{
    background-color: rgba(15, 14, 14, 0.59);
}

.texthome{
    background-image: url('homeimg.png');
    height: 625px;
    width: 100%;
    padding: 0;
    margin: 0;
}
.text2{
    background-color: #F1F1F2;
    height: 90%;
    padding: 0;
    margin: 0;
    margin-bottom: 12vh;
}
.txtcol{
    color: #F7F7F7;
    padding-top: 10%;
    margin-left: 45%;
    padding-right: 3%;
    width: 55%;
}
.texthome2{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 400%;
}
.texthome3{
    font-family: 'Montserrat';
    font-size: 150%;
    line-height: 1;
}
.btnhome{
    background-color: #FFB84C!important;
    border: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    margin-top: 2%;
    margin-left: -2%;
    font-size: 100%;
    color: white!important;
}
.txtcopy{
    background-color: #2C8C9C;
    text-align: center;
    font-family: 'Montserrat';
    font-weight: bold;
    color:#F7F7F7;
    font-size: 150%;
    padding: 3%;
}
.imgtop{
    
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 26%;
    margin-top: 10%;
    margin-bottom: 5%;
    box-shadow: 0px 4px 4px black;
}
.topspeak{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: #F7F7F7;
    font-size: 200%;
    margin-top: 3%;
    background-color: #27B2C7;
    text-align: center;
    padding: 2%;
}
.topspeak2{
    width: 250px;
    height: 367px;
    background: #F7F7F7;
    box-shadow: 0px 0px 20px rgba(156, 156, 156, 0.6);
    border-radius: 16px;
}
.btnspeak{
    background-color: #2C8C9C!important;
    border: 0;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 100%;
    margin-left: 45%;
    margin-bottom: 3%;
    color: white!important;

}

.speaknama{
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 100%;
    text-align: center;
    padding: 0%;
    margin: 0%;
}
.speakjabatan{
    color: #27B2C7;
    font-weight: italic;
}
.speakkategori{
    border-radius: 5px;
    width: 50%;
    margin: 3% auto;
    font-weight: bold;
    padding: 1%;
    color: #F1F1F2;
    background: #2C8C9C;
}
.speakket{
    color: #2C8C9C;
    font-weight: normal;
    text-align: left;
    padding: 6%;
}
