{% extends 'base.html' %}
    {% block content %}
    <div class="speaker">
        <div class="speaker-text">
            Speakers
        </div>
    </div>

    <div class="container">
        <form class="container-sort" action="{% url 'search:search' %}" method="GET">
            <select name="search">
                <option selected="selected" disabled>Sort by :</option>
                <option value="Descending">Fee (Highest to Lowest)</option>
                <option value="Ascending">Fee (Lowest to Highest)</option>
            </select>
            <input type="submit" value="Sort" />
        </form>
        <div class="container-pembicara">
            {% for pembicara in data_pembicara %}
            <div class="card-pembicara">
                <div class="foto-pembicara">
                    <img src={{pembicara.photo.url}} class="img-fluid imgtop" alt="Responsive image">
                </div>
                <div class="primary">
                    {{pembicara.first_name}} </br> {{pembicara.last_name}}
                </div>
                <div class="primary jabatan-pembicara">
                    {{pembicara.position}}
                </div>
                <div class="container-kategori">
                    <div class="primary kategori-pembicara">
                        {{pembicara.category}}
                    </div>
                </div>
                <div class="primary ket-pembicara">
                    <i class="fas fa-map-marker-alt"></i> {{pembicara.city}} </br>
                    <i class="fas fa-tags"></i> Rp {{pembicara.fee}}
                </div>
                <div class="primary">
                    <a href="{% url 'speaker_profile:profile' id=pembicara.id %}">See More</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="txtcopy container-fluid">
        Copyright © 2019 BookaSpeaker
    </div>
{% endblock %}